@import "./base/styles";
@import "./utils/breakpoints" ;
@import "./utils/responsive-sizing" ;

@import "./components/button";
@import "./components/navbar";
@import "./components/header";
@import "./layout/section";
@import "./components/footer";







body{
    margin: 0;
font-family: 'Ubuntu', sans-serif;
color: $text--primary;


}
















