.navbar {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: calc(100% - 2 * $padding-left-right);
  display: flex;
  padding: $padding-nav-topbottom $padding-left-right;
  gap: 4rem;
  align-items: center;
  @include mobile-only() {
    justify-content: space-between;
    width: calc(100% - 2 * $padding-left-right--mobile);
    padding: $padding-nav-topbottom $padding-left-right--mobile;
    text-align: center;
    // width: calc(100% - (2 * $padding-left-right--mobile));
  }

  &__logo {
    position: relative;
    // height: 2rem;
    // width: 106px;
    width: calc((101 / 1440) * 100vw);
    // min-width: 101px;
    @include mobile-only {
      width: calc((101 / 375) * 100vw);
      min-width: none;
    }
    aspect-ratio: 101/40;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 2rem;
    @include mobile-only() {
      display: none;
      position: absolute;
      left: 0;
      top: calc((125 / 375) * 100vw);
      flex-direction: column;
      align-items: center;
      background-color: $white;
      margin: 0 $padding-left-right--mobile;
      padding: 2rem 1.5rem;
      width: calc(100% - (2 * (1.5rem + $padding-left-right--mobile)));
      gap: 24px;
      &.display {
        z-index: 999;
        overflow: visible;
        display: flex;
        position: absolute;
        left: 0;
        top: calc((125 / 375) * 100vw);
        top: 125px;
        flex-direction: column;
        align-items: center;
        background-color: $white;
        margin: 0 $padding-left-right--mobile;
        padding: 2rem 1.5rem;
        width: calc(100% - (2 * (1.5rem + $padding-left-right--mobile)));
        border-radius: 5px;
      }

      .nav {
        flex-direction: column;
        width: 100%;

        &--left {
          border-bottom: 2px solid rgb(239, 239, 241);
          padding-bottom: 1.5rem;
        }
      }
    }
    &__group {
      @include mobile-only {
        width: 100%;
      }
      &__title {
        background-color: transparent;
        border: none;
        color: $white;
        cursor: pointer;
        text-transform: capitalize;
        font-weight: 500;
        @include mobile-only {
          color: $headings--primary;
        }
      }
      &__list {
        display: none;
      }
    }
  }

  .nav {
    display: flex;
    gap: 18px;
    list-style-type: none;
    align-items: center;
  }

  .btn {
    text-decoration: none;
    border: none;
  }
}

.open {
  position: relative;
  .navbar__nav__group__title {
    @include mobile-only {
      color: $text--footer;
    }
    img,
    source {
      transform: rotate(180deg);
    }
  }
  .navbar__nav__group__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    padding: 1rem 2rem 1rem 1rem;
    position: absolute;
    background-color: $white;
    list-style-type: none;
    z-index: 999;
    border-radius: 5px;

    @include mobile-only {
      position: relative;
      background-color: rgb(239, 239, 241);
      padding: 1rem 0;
      width: 100%;
    }

    &__item {
      a {
        color: $text--primary;
        text-decoration: none;
      }
    }
  }
}
