body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  color: hsl(207, 13%, 34%);
}

.navbar {
  display: flex;
  padding: 50px 11.5277777778vw;
  gap: 4rem;
  align-items: center;
}
@media all and (max-width: 375px) {
  .navbar {
    justify-content: space-between;
    padding: 56px 6.4vw;
  }
}
.navbar__logo {
  position: relative;
  height: 2rem;
  width: 106px;
}
.navbar__logo img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.navbar__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 2rem;
}
@media all and (max-width: 375px) {
  .navbar__nav {
    display: none;
  }
}
.navbar__nav__group__title {
  background-color: transparent;
  border: none;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
}
.navbar__nav__group__list {
  display: none;
}
.navbar .nav {
  display: flex;
  gap: 18px;
  list-style-type: none;
  align-items: center;
}
.navbar .btn {
  text-decoration: none;
  border: none;
}

.header {
  z-index: 0;
  position: relative;
  width: 100%;
  background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding-bottom: 150px;
  border-radius: 0 0 0 100px;
  overflow: hidden;
}
@media all and (max-width: 375px) {
  .header {
    width: auto;
  }
}
.header__header {
  font-family: "Overpass", sans-serif;
  margin-top: 100px;
  z-index: 999;
}
.header__header__title {
  font-size: 3.4722222222vw;
  margin: 0;
  margin-bottom: 2.5rem;
}
@media all and (max-width: 375px) {
  .header__header__title {
    font-size: 8vw;
    padding: 0 11.7333333333vw;
  }
}
.header__header__text {
  margin: 0;
  margin-bottom: 2.5rem;
}
.header__footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.header .decoration-bg img, .header .decoration-bg source {
  position: absolute;
  height: 130%;
  width: 130%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: -1;
}

.section {
  padding: 0 11.5277777778vw;
}
@media all and (max-width: 375px) {
  .section {
    text-align: center;
    padding: 0 6.4vw;
    padding-top: 150px;
  }
}
.section__header__title {
  font-size: 2rem;
  text-align: center;
  color: hsl(208, 49%, 24%);
}
@media all and (max-width: 375px) {
  .section__header__title {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
@media all and (max-width: 375px) {
  .section__main {
    width: auto;
  }
}
.section__main .text-container {
  margin-bottom: 5rem;
}
.section__main__image {
  position: relative;
  width: 43.0555555556vw;
}
@media all and (max-width: 375px) {
  .section__main__image {
    width: 100%;
  }
}
.section__main__image picture image, .section__main__image picture source {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-position: center center;
  object-fit: cover;
}
.section__main__text {
  width: 37.5vw;
  line-height: 1.75rem;
}
@media all and (max-width: 375px) {
  .section__main__text {
    font-size: 13px;
    width: 100%;
  }
}
.section__main__text__title {
  color: hsl(208, 49%, 24%);
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 2rem;
}
.section__main__text__content {
  margin: 0;
}
.section .container {
  display: flex;
  overflow-x: hidden;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  gap: 8.3333333333vw;
}
.section .container--reverse {
  flex-direction: row-reverse;
  gap: 0;
}
@media all and (max-width: 375px) {
  .section .container--reverse {
    flex-direction: column;
  }
}
.section--right .section__main {
  position: relative;
  top: -124px;
}
@media all and (max-width: 375px) {
  .section--right .section__main {
    top: 0;
  }
}
.section--dark {
  position: relative;
  padding: 0;
  color: hsl(0, 0%, 100%);
}
.section--dark .container {
  justify-content: space-between;
  gap: 0;
}
.section--dark .section__main__text {
  width: 36.1805555556vw;
}
.section--dark .section__main__text__title {
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
}
.section--dark .background {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  height: 69.0846286701%;
  width: 100%;
  z-index: -1;
  border-radius: 0 100px 0 100px;
}
.section--dark .background::before {
  content: "";
  position: absolute;
  background-image: url("../images//bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: left -220px bottom -100px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.section--left .section__main {
  padding-left: 0;
}
.section--left .section__main .container {
  justify-content: space-between;
  overflow: visible;
  gap: 0;
}
.section--left .section__main__image {
  position: relative;
  aspect-ratio: 974/786;
  width: 43.8194444444vw;
}
.section--left .section__main__image img {
  position: absolute;
  aspect-ratio: 974/786;
  width: 67.6388888889vw;
  left: -23.8194444444vw;
  top: -12.8472222222vw;
}
.section--left .section__main__text {
  width: 36.1805555556vw;
}

.btn {
  display: inline-block;
  background-color: hsl(356, 100%, 66%);
  color: hsl(0, 0%, 100%);
  padding: 13px 0;
  width: 140px;
  border-radius: 30px;
  border: 1px hsl(0, 0%, 100%) solid;
  text-align: center;
}
.btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(356, 100%, 66%);
}
.btn--white {
  background-color: hsl(0, 0%, 100%);
  color: hsl(356, 100%, 66%);
}
.btn--white:hover {
  background-color: hsl(355, 100%, 74%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.btn--transparent {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn--transparent:hover {
  background-color: transparent;
  color: hsl(0, 0%, 100%);
}

.open {
  position: relative;
}
.open .navbar__nav__group__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  padding: 1rem 2rem 1rem 1rem;
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  list-style-type: none;
  z-index: 999;
  border-radius: 5px;
}
.open .navbar__nav__group__list__item a {
  color: hsl(207, 13%, 34%);
  text-decoration: none;
}

.footer {
  background-color: hsl(240, 10%, 16%);
  color: hsl(240, 2%, 79%);
  padding: 60px 11.5277777778vw;
  border-radius: 0 100px 0 0;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media all and (max-width: 375px) {
  .footer__nav {
    flex-direction: column;
    align-items: center;
  }
}
.footer__nav__group {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.footer__nav__group__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}
.footer__nav__group__list li a {
  color: hsl(240, 2%, 79%);
  text-decoration: none;
}

.btn--menu {
  position: relative;
  height: 18px;
  width: 32px;
  background-color: transparent;
  border: none;
}
.btn--menu img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

/*# sourceMappingURL=styles.css.map */
